#content { background: #333c57; padding-top: 1em; color:#f4f4f4 }
#header { float: right; margin-left: 1em; margin-bottom: 1em }
#coleslaw-logo { float: right; }
#tagsoup, #monthsoup { color: #ffcd75 }
a { text-decoration: none; color: #a7f070 }
a.anchor { color: #38b764 }
.tags {
    color: #ffcd75;
    margin-left: 2em;
}
.date {
    font-style: italic;
    color: #94b0c2;
    margin-left: 2em;
}
.title {
    color:#ef7d57
}
.article-meta .title {
    margin-left: 0em;
}
.article-meta {
    margin-bottom: 2.2em;
}
.article-meta .article, .article-content{
    margin-left: 2.2em;
    margin-right: 2.2em;
    text-align: justify;
    max-width: 1100px;
}
.archive-title { font-size: 1em }
.article-title {
    margin-left: 1em;
    font-size: 2em
}
.fineprint {
    line-height: 1.2;
    text-align: center;
    font-size: .9em;
    margin-top: .5em;
    margin-left: 2.2em;
    color: #41a6f6;
    max-width: 1100px;
}
.tag-low { font-size: .8em; font-weight: 200 }
.tag-medium { font-size: 1.2em; font-weight: 600 }
.tag-high { font-size: 1.8em; font-weight: 800 }
code { color: #73eff7 }
body { background-color: #161e3b; font-family: PT Mono; font-size: 14pt }
pre { overflow: auto; margin-left: 1em; padding: 0.5em; border-left: 1px dashed;
      background-color: #1f2438; padding: .75em .5em; font-family: (unquote mono-font) }
tt { font-size: .9em; font-family: (unquote mono-font) }

.navigation {
    padding-top: 90px;
    padding-left: 240px;
    padding-bottom: 36px;
    font-size: 2.8em;
    border-bottom: 1px solid;
    background: url("tower_logo.png") no-repeat;
    background-size: contain;
    background-position: 20px 0px;
}

.article img {
    display: block;
    margin-left: none;
    margin-right: auto;
    width: 55%;
}
.article-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

/* for image caption */
.article img + br + em {
    font-style: normal;
    display: inherit;
    text-align: left;
    font-size: 90%;
}
.article-content img + br + em {
    font-style: normal;
    display: inherit;
    text-align: center;
    font-size: 90%;
}

@media (max-width: 680px) {

    #content {
        padding-top: 0em
    }

    .title {
        margin-left: 0.1em;
    }

    .article-meta {
        margin-bottom: 1em;
    }

    .article-meta, .article-content {
        float: left;
        margin-left: 0em;
        margin-right: 0em;
        width: 90%;
        padding-left: 5%;
    }

    .article, .article-content {
        margin-left: 0em;
        text-align: justify;
    }

    .article img,
    .article-content img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    #coleslaw-logo {
        float: none;
    }

    #coleslaw-logo img {
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: auto;
    }

    .fineprint a img {
        width: auto;
        clear: both;
    }
}

/* Pygments */
.highlight .hll { background-color: #1f2438 }
.highlight  { background: #1f2438; color: #cccccc }
.highlight .c { color: #000080 } /* Comment */
.highlight .err { color: #cccccc; border: 1px solid #FF0000 } /* Error */
.highlight .esc { color: #cccccc } /* Escape */
.highlight .g { color: #cccccc } /* Generic */
.highlight .k { color: #cdcd00 } /* Keyword */
.highlight .l { color: #cccccc } /* Literal */
.highlight .n { color: #cccccc } /* Name */
.highlight .o { color: #3399cc } /* Operator */
.highlight .x { color: #cccccc } /* Other */
.highlight .p { color: #cccccc } /* Punctuation */
.highlight .ch { color: #000080 } /* Comment.Hashbang */
.highlight .cm { color: #000080 } /* Comment.Multiline */
.highlight .cp { color: #000080 } /* Comment.Preproc */
.highlight .cpf { color: #000080 } /* Comment.PreprocFile */
.highlight .c1 { color: #000080 } /* Comment.Single */
.highlight .cs { color: #e05a5a; font-weight: bold } /* Comment.Special */
.highlight .gd { color: #e05a5a } /* Generic.Deleted */
.highlight .ge { color: #cccccc; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00cd00 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { color: #cccccc; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #cdcd00 } /* Keyword.Constant */
.highlight .kd { color: #00cd00 } /* Keyword.Declaration */
.highlight .kn { color: #cd00cd } /* Keyword.Namespace */
.highlight .kp { color: #cdcd00 } /* Keyword.Pseudo */
.highlight .kr { color: #cdcd00 } /* Keyword.Reserved */
.highlight .kt { color: #00cd00 } /* Keyword.Type */
.highlight .ld { color: #cccccc } /* Literal.Date */
.highlight .m  { color: #cd00cd } /* Literal.Number */
.highlight .s  { color: #e05a5a } /* Literal.String */
.highlight .na { color: #cccccc } /* Name.Attribute */
.highlight .nb { color: #cd00cd } /* Name.Builtin */
.highlight .nc { color: #00cdcd } /* Name.Class */
.highlight .no { color: #cccccc } /* Name.Constant */
.highlight .nd { color: #cccccc } /* Name.Decorator */
.highlight .ni { color: #cccccc } /* Name.Entity */
.highlight .ne { color: #666699; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #cccccc } /* Name.Function */
.highlight .nl { color: #cccccc } /* Name.Label */
.highlight .nn { color: #cccccc } /* Name.Namespace */
.highlight .nx { color: #cccccc } /* Name.Other */
.highlight .py { color: #cccccc } /* Name.Property */
.highlight .nt { color: #cccccc } /* Name.Tag */
.highlight .nv { color: #00cdcd } /* Name.Variable */
.highlight .ow { color: #cdcd00 } /* Operator.Word */
.highlight .w  { color: #cccccc } /* Text.Whitespace */
.highlight .mb { color: #cd00cd } /* Literal.Number.Bin */
.highlight .mf { color: #cd00cd } /* Literal.Number.Float */
.highlight .mh { color: #cd00cd } /* Literal.Number.Hex */
.highlight .mi { color: #cd00cd } /* Literal.Number.Integer */
.highlight .mo { color: #cd00cd } /* Literal.Number.Oct */
.highlight .sa { color: #e05a5a } /* Literal.String.Affix */
.highlight .sb { color: #e05a5a } /* Literal.String.Backtick */
.highlight .sc { color: #e05a5a } /* Literal.String.Char */
.highlight .dl { color: #e05a5a } /* Literal.String.Delimiter */
.highlight .sd { color: #e05a5a } /* Literal.String.Doc */
.highlight .s2 { color: #e05a5a } /* Literal.String.Double */
.highlight .se { color: #e05a5a } /* Literal.String.Escape */
.highlight .sh { color: #e05a5a } /* Literal.String.Heredoc */
.highlight .si { color: #e05a5a } /* Literal.String.Interpol */
.highlight .sx { color: #e05a5a } /* Literal.String.Other */
.highlight .sr { color: #e05a5a } /* Literal.String.Regex */
.highlight .s1 { color: #e05a5a } /* Literal.String.Single */
.highlight .ss { color: #e05a5a } /* Literal.String.Symbol */
.highlight .bp { color: #cd00cd } /* Name.Builtin.Pseudo */
.highlight .fm { color: #cccccc } /* Name.Function.Magic */
.highlight .vc { color: #00cdcd } /* Name.Variable.Class */
.highlight .vg { color: #00cdcd } /* Name.Variable.Global */
.highlight .vi { color: #00cdcd } /* Name.Variable.Instance */
.highlight .vm { color: #00cdcd } /* Name.Variable.Magic */
.highlight .il { color: #cd00cd } /* Literal.Number.Integer.Long */
