#content-wrapper {
    display: flex;
    flex-wrap: wrap;
}
#content {
    background: #333c57;
    padding-top: 1em;
    color:#f4f4f4;
    border: 2px solid;
    border-color: #000;
    line-height: 1.2;
}
#header { float: right; margin-left: 1em; margin-bottom: 1em }
#coleslaw-logo { float: right; }
#tagsoup, #monthsoup { color: #ffcd75 }
a { text-decoration: none; color: #a7f070 }
a.anchor { color: #38b764 }
.tags {
    color: #ffcd75;
    margin-left: 2em;
}
.date {
    font-style: italic;
    color: #94b0c2;
    margin-left: 2em;
}
.title {
    color:#ef7d57
}
#content .title, .article-meta .title {
    margin-left: 1.0em;
    margin-right: 1.0em;
}
.article-meta {
    margin-bottom: 2.2em;
}
.article-meta .article, .article-content{
    margin-left: 2.2em;
    margin-right: 2.2em;
    text-align: justify;
    max-width: 900px;
}
.archive-title { font-size: 1em }
.article-title {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 2em
}
.fineprint {
    line-height: 1.2;
    text-align: center;
    font-size: .9em;
    margin-top: .5em;
    margin-left: 2.2em;
    color: #41a6f6;
    max-width: 900px;
}
.tag-low { font-size: .8em; font-weight: 200 }
.tag-medium { font-size: 1.2em; font-weight: 600 }
.tag-high { font-size: 1.8em; font-weight: 800 }
code { color: #73eff7 }
body { background-color: #161e3b; font-family: PT Mono; font-size: 14pt }
pre {
    overflow: auto;
    padding: 0.5em;
    background-color: #1f2438;
    padding: 0 .5em 0 .5em;
    margin-top: 0;
    font-family: (unquote mono-font)
}
tt { font-size: .9em; font-family: (unquote mono-font) }

.linenos { color: #a1d45b }

.navigation {
    max-width: 950px;
    display: grid;
    grid-template-columns: 1.2fr 4.8fr;
    grid-auto-rows: minmax(60px, auto);
    margin-bottom: 8px;
    row-gap: 24px;
    background: url("tower_logo.png") no-repeat;
    background-size: 180px;
    background-position: 20px 0px;
}

.nav_logo {
    min-height: 155px;
    min-width: 220px;
}

.nav_header {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.nav_title {
    font-size: 2.8em;
    display: flex;
}

.nav_title a {
    display: flex;
    align-self: flex-end;
}

.nav_sitenav {
    display: flex;
    flex-wrap: wrap;
}

.sitenav_link {
    padding-right: 0.5em;
    padding-top: 0.5em;
    color: #41a6f6;
}

.sitenav_link a {
    font-size: 1.2em;
}

.nav_refs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.nav_refs div{
    min-width: 55px;
    height: 55px;
    cursor: pointer;
}

.ref_button {
     background-size: 55px 55px;
     background-position: 0px 0px;
}

.nav_sides {
    min-width: 220px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.side_en, .side_ru {
    font-size: 1.4em;
    display: flex;
    cursor: pointer;
}

.side_en span, .side_ru span {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.6em;
}

.side_en {
    color: #ffcd75;
    background: url("side_en.png") no-repeat;
    background-size: 110px 60px;
    background-position: 0px 0px;
}

.side_en:hover {
    background: url("side_en_hov.png") no-repeat;
    background-size: 110px 60px;
    background-position: 0px 0px;
}

.side_ru {
    color: #41a6f6;
    background: url("side_ru.png") no-repeat;
    background-size: 110px 60px;
    background-position: 0px 0px;
}

.side_ru:hover {
    background: url("side_ru_hov.png") no-repeat;
    background-size: 110px 60px;
    background-position: 0px 0px;
}

.article img {
    display: block;
    margin-left: none;
    margin-right: auto;
    border-radius: 8px;
    width: 65%;
}
.article-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    width: 100%;
    max-width: 640px;
}

/* for image caption */
.article img + br + em {
    font-style: normal;
    display: inherit;
    text-align: left;
    font-size: 90%;
}
.article-content img + br + em {
    font-style: normal;
    display: inherit;
    text-align: center;
    font-size: 90%;
}

/* responsive video embeds */
.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;        /* sets the aspect ratio */
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* responsive-ness */
@media (max-width: 680px) {

    #content {
        padding-top: 0em;
        padding-right: 0.3em;
    }

    #content .title,
    .article-meta .title,
    .article-meta .article-title,
    .article-meta .article,
    .tags, .date {
        margin-left: 0.1em;
        margin-right: 0.1em;
    }

    .article-meta {
        margin-bottom: 1em;
    }

    .article-meta, .article-content {
        margin-left: 0.1em;
        margin-right: 0.1em;
        width: 100%;
    }

    .article, .article-content {
        margin-left: 0.1em;
        margin-right: 0.1em;
        text-align: justify;
    }

    .article img,
    .article-content img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 8px;
        width: 100%;
    }

    #coleslaw-logo {
        float: none;
    }

    #coleslaw-logo img {
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: auto;
    }

    .fineprint {
        margin-left: 0em;
    }

    .fineprint a img {
        width: auto;
        clear: both;
    }
}

/* Pygments */
.highlighttable table {
    display: block;
}

.highlighttable tbody {
    max-height: 400px;
    display: inline-block;
    overflow: auto;
}

.highlight .hll { background-color: #1f2438 }
.highlight  { background: #1f2438; color: #eeeeee }
.highlight .c { color: #7559ff } /* Comment */
.highlight .err { color: #eeeeee; border: 1px solid #FF0000 } /* Error */
.highlight .esc { color: #eeeeee } /* Escape */
.highlight .g { color: #eeeeee } /* Generic */
.highlight .k { color: #ffff1e } /* Keyword */
.highlight .l { color: #eeeeee } /* Literal */
.highlight .n { color: #eeeeee } /* Name */
.highlight .o { color: #3affff } /* Operator */
.highlight .x { color: #eeeeee } /* Other */
.highlight .p { color: #eeeeee } /* Punctuation */
.highlight .ch { color: #7559ff} /* Comment.Hashbang */
.highlight .cm { color: #7559ff} /* Comment.Multiline */
.highlight .cp { color: #7559ff} /* Comment.Preproc */
.highlight .cpf { color: #7559ff} /* Comment.PreprocFile */
.highlight .c1 { color: #7559ff} /* Comment.Single */
.highlight .cs { color: #ff7667; font-weight: bold } /* Comment.Special */
.highlight .gd { color: #ff7667 } /* Generic.Deleted */
.highlight .ge { color: #eeeeee; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #7559ff; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #0eff0e } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #7559ff; font-weight: bold } /* Generic.Prompt */
.highlight .gs { color: #eeeeee; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #ffff1e } /* Keyword.Constant */
.highlight .kd { color: #0eff0e } /* Keyword.Declaration */
.highlight .kn { color: #ff53ff } /* Keyword.Namespace */
.highlight .kp { color: #ffff1e } /* Keyword.Pseudo */
.highlight .kr { color: #ffff1e } /* Keyword.Reserved */
.highlight .kt { color: #0eff0e } /* Keyword.Type */
.highlight .ld { color: #eeeeee } /* Literal.Date */
.highlight .m  { color: #ff53ff } /* Literal.Number */
.highlight .s  { color: #ff7667 } /* Literal.String */
.highlight .na { color: #eeeeee } /* Name.Attribute */
.highlight .nb { color: #ff53ff } /* Name.Builtin */
.highlight .nc { color: #3affff } /* Name.Class */
.highlight .no { color: #eeeeee } /* Name.Constant */
.highlight .nd { color: #eeeeee } /* Name.Decorator */
.highlight .ni { color: #eeeeee } /* Name.Entity */
.highlight .ne { color: #666699; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #eeeeee } /* Name.Function */
.highlight .nl { color: #eeeeee } /* Name.Label */
.highlight .nn { color: #eeeeee } /* Name.Namespace */
.highlight .nx { color: #eeeeee } /* Name.Other */
.highlight .py { color: #eeeeee } /* Name.Property */
.highlight .nt { color: #eeeeee } /* Name.Tag */
.highlight .nv { color: #3affff } /* Name.Variable */
.highlight .ow { color: #ffff1e } /* Operator.Word */
.highlight .w  { color: #eeeeee } /* Text.Whitespace */
.highlight .mb { color: #ff53ff } /* Literal.Number.Bin */
.highlight .mf { color: #ff53ff } /* Literal.Number.Float */
.highlight .mh { color: #ff53ff } /* Literal.Number.Hex */
.highlight .mi { color: #ff53ff } /* Literal.Number.Integer */
.highlight .mo { color: #ff53ff } /* Literal.Number.Oct */
.highlight .sa { color: #ff7667 } /* Literal.String.Affix */
.highlight .sb { color: #ff7667 } /* Literal.String.Backtick */
.highlight .sc { color: #ff7667 } /* Literal.String.Char */
.highlight .dl { color: #ff7667 } /* Literal.String.Delimiter */
.highlight .sd { color: #ff7667 } /* Literal.String.Doc */
.highlight .s2 { color: #ff7667 } /* Literal.String.Double */
.highlight .se { color: #ff7667 } /* Literal.String.Escape */
.highlight .sh { color: #ff7667 } /* Literal.String.Heredoc */
.highlight .si { color: #ff7667 } /* Literal.String.Interpol */
.highlight .sx { color: #ff7667 } /* Literal.String.Other */
.highlight .sr { color: #ff7667 } /* Literal.String.Regex */
.highlight .s1 { color: #ff7667 } /* Literal.String.Single */
.highlight .ss { color: #ff7667 } /* Literal.String.Symbol */
.highlight .bp { color: #ff53ff } /* Name.Builtin.Pseudo */
.highlight .fm { color: #eeeeee } /* Name.Function.Magic */
.highlight .vc { color: #3affff } /* Name.Variable.Class */
.highlight .vg { color: #3affff } /* Name.Variable.Global */
.highlight .vi { color: #3affff } /* Name.Variable.Instance */
.highlight .vm { color: #3affff } /* Name.Variable.Magic */
.highlight .il { color: #ff53ff } /* Literal.Number.Integer.Long */
